*{
    color:{{@@ color.txt @@}};
    font: Inter 16;
}

#entry:selected {
    border: none;
    padding: none;
    background: {{@@ color.accent @@}};
}

window {
    background-color:  {{@@ color.accent @@}};
}

#input {
    margin-bottom: 5px ;
    background-color: {{@@ color.bg @@}};
}

#outer-box {
    margin: 2px;
    padding: 15px ;
    padding-bottom:0;
    background-color: {{@@ color.bg @@}};
}
